@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    21 Tampines Avenue 1, 529757<br />
    <abbr title="Phone">P:</abbr>
    96892004
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:Admin@swen.com">Admin</a><br />
    <strong>Management:</strong> <a href="mailto:Management@swen.com">Management</a>
</address>